
body {
    font-size: 100%;
    font-family: "Open Sans", sans-serif;
    margin: 0%;
}

#cd-logo img{
    max-width: 50px;
}

header {
    position: relative;
    height: 5rem;
    background: #003f66;
    padding:0.5rem;
}

header a{
    text-decoration: none;
}

#cd-logo{
    display:flex;
    flex-direction: row;
    align-items: center;
    white-space: nowrap;
}

header #cd-logo p{
    color: #23aece;
    font-weight: bold;
    font-size: 1.4rem;
}


