#allTheThings {

  width:100vw;
  height:70vh;
  display:flex;
  align-items: center;
  justify-content: center;
}

a{
	color: #94aab0;
	text-decoration: none;
}

#member{
	display: inline-block;
}

#verticalLine {
	display: inline-block;
	margin-left: 20px;
  border-left: solid #343642;
  height: 300px;
}

#librarian-link{
	margin-left: 20px;
}

#member, #librarian
{
	display:flex;
  justify-content: center;
  align-items: center;
}
#allTheThings a{
  display:flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
#member:hover, #librarian:hover
{
	transform: scale(1.1);
}

#allTheThings img{
  width:200px;
  height:200px;
}