#allTheThings {
  width:100vw;
  height: calc(100vh - 5rem);
  display:flex;
  align-items: left;
  flex-direction: column;
  justify-content: center;
  gap: 3rem;
  padding-left: 3rem;
}


.frase{
  font-size: 4rem;
  width: 50vw;
}

.integrantes{
  position: absolute;
  width: 50vw;
  bottom: 1;
  font-size: 0.8rem;
  padding-bottom:1rem;
}

@media only screen
and (min-width: 320px)
and (max-width: 736px)
{
  .frase{
    font-size: 2rem;
  }

}